html{
    font-size: 80%;
    height: 100%;
    width: 100%;
    min-height: 100%;
}

body {
    font-family: Arial,'Franklin Gothic Medium', 'Arial Narrow', 'Roboto' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: $body_size;
    letter-spacing: 0.25px;
    background: $body_background;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}

button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}


// Global rules
.global-tfc{
    display: flex;
    flex-direction: row;
}


.calendarContainer{
    flex: 1;
    min-width: 100%;
}